.gram{
	text-align:left;
	width:800px;
	padding-left: 5%;
	padding-top: 0;
	position: center;
	background-color: #effcf1;
}

html {
	background-color: #effcf1;
}

body {
	background-color: #effcf1;
}